<!DOCTYPE HTML>
<html>
<head>
	<title>MapleStory Utility</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="layout/assets/css/main3.css" />
</head>
<!-- <body> <body class="is-preload"> -->

<body class="is-preload">
<!-- -->
<div class="left">ww</div>
<!-- Wrapper -->
<div id="wrapper">


	<!-- Header -->
	<header id="header">

		<div class="content">
			<div class="inner">
				<h2>MapleStory Utility</h2>
				<div class="character">
					<div>
						<p>캐릭터를 검색하세요. (처음 검색 시 약 30초 소요)<br /></p>
						<input type="text" id="characterName" style="width:250px">
						<input type="button" id="characterBtn" value="검색" onclick="send();">
					</div>
				</div>
			</div>

			<nav>
				<ul>
					<li><a href='#characterEquipInfo'>test</a></li>
				</ul>
			</nav>

			<div class="characterInfo">

			</div>

		</div>

		<nav>
			<ul>
				<li><a href="#guide">사용가이드</a></li>
				<li><a href="#profile">프로필생성</a></li>
				<li><a href="#searchItem">아이템찾기</a></li>
				<li><a href="#guildScore">길드컨텐츠분석</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<div id="main">

		<article id="characterEquipInfo">
			<h2 class="characterDetailSub">캐릭터 상세정보</h2>
			<div class="idname">
				<div class="characterDetailImg"><img src="layout/images/bg.jpg" alt="" /></div>

				<div class="characterDetail1">
					<div class="characterDetail">이름</div>
					<div class="characterDetail">직업</div>
					<div class="characterDetail">길드</div>
					<div class="characterDetail">인기도</div>
					<div class="characterDetail">스탯<br/>공격력</div>
					<div class="characterDetail">HP</div>
					<div class="characterDetail">MP</div>
					<div class="characterDetail">STR</div>
					<div class="characterDetail">DEX</div>
					<div class="characterDetail">INT</div>
					<div class="characterDetail">LUK</div>
				</div>

				<div class="characterDetail2">
					<div class="characterDetail">삐약이당</div>
					<div class="characterDetail">바이퍼</div>
					<div class="characterDetail">Free</div>
					<div class="characterDetail">2</div>
					<div class="characterDetail">9억 9999만 9999 <br/>~ 9억 9999만 9999</div>
					<div class="characterDetail">55709</div>
					<div class="characterDetail">27428</div>
					<div class="characterDetail">15968</div>
					<div class="characterDetail">2862</div>
					<div class="characterDetail">2091</div>
					<div class="characterDetail">1648</div>
				</div>

				<div class="characterDetail3">
					<div class="characterDetail">데미지</div>
					<div class="characterDetail">최종 데미지</div>
					<div class="characterDetail">방어율 무시</div>
					<div class="characterDetail">크리티컬확률</div>
					<div class="characterDetail">크리 데미지</div>
					<div class="characterDetail">공격력</div>
					<div class="characterDetail">상태이상내성</div>
					<div class="characterDetail">방어력</div>
					<div class="characterDetail">이동속도</div>
					<div class="characterDetail">점프력</div>
				</div>

				<div class="characterDetail4">
					<div class="characterDetail">61%</div>
					<div class="characterDetail">24.30%</div>
					<div class="characterDetail">86.22%</div>
					<div class="characterDetail">100%</div>
					<div class="characterDetail">51.00%</div>
					<div class="characterDetail">1497</div>
					<div class="characterDetail">55</div>
					<div class="characterDetail">34266</div>
					<div class="characterDetail">147%</div>
					<div class="characterDetail">123%</div>
				</div>

				<div class="characterDetail5">
					<div class="characterDetail">보스데미지</div>
					<div class="characterDetail">버프지속시간</div>
					<div class="characterDetail">아이템드롭률</div>
					<div class="characterDetail">메소 획득량</div>
					<div class="characterDetail">공격 속도</div>
					<div class="characterDetail">마력</div>
					<div class="characterDetail">스탠스</div>
					<div class="characterDetail">스타포스</div>
					<div class="characterDetail">아케인포스</div>
				</div>

				<div class="characterDetail6">
					<div class="characterDetail">144%</div>
					<div class="characterDetail">24%</div>
					<div class="characterDetail">0%</div>
					<div class="characterDetail">4%</div>
					<div class="characterDetail">7단계</div>
					<div class="characterDetail">380</div>
					<div class="characterDetail">100%</div>
					<div class="characterDetail">189</div>
					<div class="characterDetail">780</div>
				</div>

				<div class="characterDetail7">
					<div class="characterDetail">어빌리티</div>
					<div class="characterDetail">일반 몬스터 공격 시 데미지 10% 증가</div>
					<div class="characterDetail">LUK 19 증가, INT 10 증가</div>
					<div class="characterDetail">DEX 20 증가, STR 10 증가</div>
				</div>
				<!--
				<div class="characterDetail8">
					<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/Character/180/AODJEEKPEKCKNCDIBHHPKJPMAGKKJPLILJKJPHGJAGABBADOMCGKDKAPNAGOCOBHGDBOOHLLPANHFGKHCLCNEHGAIJCHIDONJBGOOGLDMPICKGLJGBJCMJNOMGPJMPJOPBNKMKACAEAAIKIHMJOMEEKBKECGLJONDDFJACNBKLFAJMNEGDFNPNDLDFOIGFABPMDMIBGOONMOOEEDENKOMKNFCICDFPBLEBEDPNLCOLIMLNDHMDNOBOPCDGIMAPDI.png", alt='캐릭터'/></div>
				</div>

				<div class="characterDetail9">
					<div class="detailA">
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='반지1'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='반지2'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='반지3'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='반지4'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='성배'/></div>
					</div>
					<div class="detailB">
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='펜던트1'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='펜던트2'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='무기'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='벨트'/></div>
					</div>
					<div class="detailC">
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='모자'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='얼굴장식'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='눈장식'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='상의'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='하의'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='신발'/></div>
					</div>
					<div class="detailD">
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='귀걸이'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='어깨장식'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='장갑'/></div>
					</div>
					<div class="detailE">
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='엠블렘'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='뱃지'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='훈장'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='보조장비'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='망토'/></div>
						<div class="characterDetail"><img src="https://avatar.maplestory.nexon.com/ItemIcon/KEODPEPJ.png", alt='심장'/></div>
					</div>
				</div>
				-->
			</div>
		</article>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; made in 명회 </p>
	</footer>
</div>

<div class="right">ww</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->

<!--<script src="layout/assets/js/jquery.min.js"></script>-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="layout/assets/js/browser.min.js"></script>
<script src="layout/assets/js/breakpoints.min.js"></script>
<script src="layout/assets/js/main1.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="layout/assets/js/function.js"></script>
<!--
<script src="layout/assets/js/main.js"></script>

-->
</body>
</html>
